name: Deploy to Github Pages

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  setup-build-tag-push-docker-images:
    name: Build, Tag, Push Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: create .env file
        run: | 
          cat >.env <<EOL
          REACT_APP_POST_LOGOUT_REDIRECT_URL="https://dariv94.github.io/fgr-secure-api/"
          REACT_APP_LOGIN_REDIRECT_URL="https://dariv94.github.io/fgr-secure-api/"
          EOL
          cat .env

      - run: npm install
      - run: npm run build

      - name: Init new repo in dist folder and commit generated files
        run: |
          cd docs/.vuepress/dist
          git init
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'deploy'

      - name: Force push to destination branch
        uses: ad-m/github-push-action@v0.5.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # this might change depending on whether you are publishing a site for a normal repo or a user/organization repo
          branch: gh-pages
          force: true
          directory: ./build

# Using Github Pages instead of Surge, but leaving this here for future reference
# name: Deploy Website via Surge
# env: 
#   CI: false
# on:
#   push:
#     branches: [ master ]
#   pull_request:
#     branches: [ master ]

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     name: Deploying to surge
#     steps:
#       - uses: actions/checkout@v2
#       - name: Install surge and fire deployment
#         uses: actions/setup-node@v2
#         with:
#           node-version: '14'
#       - run: npm install -g surge
#       - run: npm install
#       - run: npm run build
#       - run: cp ./build/index.html ./build/200.html
#       - run: ls ./build
#       - run: surge ./build ${{ secrets.SURGE_DOMAIN }} --token ${{ secrets.SURGE_TOKEN }}